@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('Montserrat-Bold'),
    url('/fonts/Montserrat/Montserrat-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('Montserrat-Medium'),
    url('/fonts/Montserrat/Montserrat-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('Montserrat-Regular'),
    url('/fonts/Montserrat/Montserrat-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('Montserrat-Light'),
    url('/fonts/Montserrat/Montserrat-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'PublicSans-Thin';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('PublicSans-Thin'),
    url('/fonts/PublicSans/PublicSans-Thin.woff2') format('woff2'),
    url('/fonts/PublicSans/PublicSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'PublicSans-Light';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('PublicSans-Light'),
    url('/fonts/PublicSans/PublicSans-Light.woff2') format('woff2'),
    url('/fonts/PublicSans/PublicSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'PublicSans-Regular';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local('PublicSans-Regular'),
    url('/fonts/PublicSans/PublicSans-Regular.woff2') format('woff2'),
    url('/fonts/PublicSans/PublicSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PublicSans-Bold';
  font-style: bold;
  font-weight: bold;
  font-display: auto;
  src: local('PublicSans-Bold'),
    url('/fonts/PublicSans/PublicSans-Bold.woff2') format('woff2'),
    url('/fonts/PublicSans/PublicSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'PublicSans-SemiBold';
  font-style: bold;
  font-weight: bold;
  font-display: auto;
  src: local('PublicSans-SemiBold'),
    url('/fonts/PublicSans/PublicSans-SemiBold.woff2') format('woff2'),
    url('/fonts/PublicSans/PublicSans-SemiBold.woff') format('woff');
}
